backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
cloudpickle==0.8.0
colorama==0.4.1
contextlib2==0.5.5
cycler==0.10.0
Cython==0.29.6
cytoolz==0.9.0.1
dash==1.0.0
dash-bootstrap-components==0.7.1
dash-core-components==1.0.0
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.0.0
dask==1.1.4
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.10
Flask==1.0.2
Flask-Compress==1.4.0
matplotlib==3.0.3
numpy==1.14.6
numpydoc==0.8.0
olefile==0.46
opencv-contrib-python==4.1.0.25
openpyxl==2.6.1
packaging==19.0
pandas==0.24.2
pkginfo==1.5.0.1
plotly==3.10.0
psutil==5.6.1
psycopg2==2.8.3
ptyprocess==0.6.0
PySocks==1.6.8
python-dateutil==2.8.0
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.3.1
sympy==1.3
timestamp==0.0.1
